:root {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    --green: #10B981;
    --light-red: #FEE2E2;
    --red: #EF4444;
    --light-blue: #DBEAFE;
    --blue: #1D4ED8;
    --light-green: #D1FAE5;
    --dark-green: #047857;
    --dark-blue: #1B1C57;
    --light-gray: #888B97;
    --mazarine: #0E1735;
    --perse: #3C4563;
    --light-perse: #626687;
    --yellow: #F59E0B;
    --light-light-gray: #E0E3EB;
    --gradient: linear-gradient(to bottom, rgba(255, 152, 130, 1), rgba(255, 250, 130, 1));
    --gradient-transparent-70: linear-gradient(to bottom, rgba(255, 152, 130, 0.7), rgba(255, 250, 130, 0.7));
}

.page {
    display: flex;
    justify-content: center;
}

.page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    max-width: 1600px;
    padding: 60px 30px 60px 30px;
}

.svg-icons {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.featured-house__title {
    color: var(--dark-blue);
    font-size: 32px;
    font-weight: 600;
}

.featured-house__comment-wrapper {
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.featured-house {
    position: relative;
    display: flex;
    flex-direction: column;
}

.featured-house__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured-house__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-list_control {
    gap: 8px;
}

.featured-house__house {
    max-width: 340px;
    place-self: center;
}

.featured-house__houses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.house-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.house-card__img-container {
    position: relative;
    height: 382px;
    max-width: 340px;
    overflow: hidden;
    border-radius: 32px;
}

.house-card__img {
    aspect-ratio: 340 / 382;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.house-card__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.house-card__title {
    color: var(--mazarine);
    font-size: 24px;
}

.house-card__price {
    color: var(--perse);
    font-size: 20px;
}

.people-card__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.people-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.people-card__details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.people-card__name {
    color: var(--dark-blue);
    font-size: 18px;
    font-weight: 400;
}

.people-card__address {
    color: var(--light-gray);
    font-size: 14px;
    font-weight: 400;
}

.house-for-sale__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.house-for-sale__gradient {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -10;
    width: 750px;
    height: 600px;
    background: var(--gradient);
    filter: blur(300px);
}

.comment__text {
    font-size: 14px;
    font-weight: 400;
    color: var(--yellow);
}

.comment {
    display: flex;
    align-items: center;
    gap: 8px;
}

.house-for-sale__title {
    color: var(--dark-blue);
    font-size: 32px;
    font-weight: 600;
}

.house-for-sale__text {
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: 500;
}

.house-for-sale__images {
    position: relative;
    height: 600px;
    max-width: 600px;
    margin-right: 60px;
}

.house-for-sale__image-container {
    position: relative;
    width: 100%;
    height: 100%;
    left: 20px;
    bottom: 20px;
    overflow: hidden;
    border-radius: 20px;
}

.house-for-sale__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.house-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    font-size: 16px;
    color: var(--perse);
    font-weight: 400;
    white-space: nowrap;
}

.house-details__detail {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.house-details__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.house-for-sale__comment-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.house-for-sale__content {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    gap: 30px;
    max-width: 550px;
}

.house-for-sale__description {
    color: var(--light-perse);
    max-width: 450px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.house-details__contacts {
    display: flex;
    gap: 40px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    border: none;
    white-space: nowrap;
    font-size: 14px;
    gap: 8px;
    padding: 12px 16px 12px 16px;
    text-decoration: none;
    font-weight: 500;
}

.button__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.button:hover {
    filter: brightness(110%);
}

.button:active {
    scale: 0.9;
    transition: 0.2s ease-in-out;
}

.button_primary {
    background-color: var(--green);
    color: white;
}

.button_red {
    background-color: var(--light-red);
    color: var(--red);
}

.button_green {
    background-color: var(--light-green);
    color: var(--dark-green);
}

.button_gray {
    border: 1px solid var(--light-light-gray);
    background-color: white;
    color: var(--light-gray);
}

.button_dark-gray {
    background-color: var(--light-light-gray);
    color: var(--perse);
}
.button_blue {
    background-color: var(--light-blue);
    color: var(--blue);
}

.button_house-card {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.house-for-sale__interior-list {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
}

.house-for-sale__interior-image-container {
    border-radius: 8px;
    overflow: hidden;
}

.house-for-sale__interior-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.house-for-sale__interior-image_big {
    max-width: 296px;
    height: 168px;
    box-shadow: 11px -1px 25px -1px rgba(0,0,0,0.6);
}

.house-for-sale__interior-image_small {
    width: 96px;
    height: 80px;
    box-shadow: 2px 0 15px 0 rgba(0,0,0,0.6);
}

.house-for-sale__image-play-button {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    backdrop-filter: blur(3px);
}

.house-for-sale__image-play-button:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.house-for-sale__image-play-button:active {
    scale: 0.9;
    transition: 0.2s ease-in-out;
}

@media (max-width: 1500px) {
    .featured-house__houses {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .featured-house__navigation {
        gap: 2dvw;
    }

    .button {
        padding: 14px;
    }
}

@media (max-width: 768px) {
    .featured-house__houses, .house-details {
        grid-template-columns: 1fr;
    }

    .house-for-sale__container {
        flex-direction: column;
        align-items: center;
    }

    .house-details__contacts {
        flex-direction: column;
    }

    .featured-house__header {
        flex-direction: column;
        gap: 20px;
    }

    .nav-list_control {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 10;
    }

    .featured-house__navigation {
        gap: 2dvw;
    }

    .featured-house__navigation .button__icon {
        width: 16px;
        height: 16px;
    }

    .featured-house__navigation .button {
        font-size: 12px;
    }

    .page__content {
        padding: 30px 10px 30px 10px;
    }

    .house-for-sale__content {
        padding: 0 30px 0 30px;
    }

    .house-for-sale__images {
        margin: 30px 60px 60px 30px;
    }

    .comment_centered {
        justify-content: center;
    }

    .house-for-sale__gradient {
        background: var(--gradient-transparent-70);
    }

    .house-for-sale__images {
        height: 400px;
    }
}